.titulos {
  color: #212529;
  text-shadow: 0px 0px 4px #02ffd5;
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: #02ffd5;
}

.contenedor {
  height: 100vh;
}

.inicio{
  background-color: #b9cbd5;
}

.background {
  background-image: url("https://images.unsplash.com/photo-1642418423389-fff4d83d28a4?q=80&w=1867&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #b9cbd5;
}

.navbar {
  box-shadow: 0 5px 0px #02ffd5;
  background-color: #212529;
}

.nav-link,
.navbar-brand {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.nav-link:hover {
  color: #02ffd5;
}

.navbar-toggler,
.navbar-toggler-icon {
  border-color: #02ffd5;
}

.inicio .card {
  height: 142px;
  width: 300px;
  background-color: #212529;
  border-radius: 25px;
  box-shadow: 0px 5px 0px #02ffd5;
}

.Tarjeta {
  display: flex;
  align-items: center;
}


.colores {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#palabras {
  padding: 15px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.664);
  color: aliceblue;
}

@font-face {
  font-family: 'TimeTraveler';
  font-style: normal;
  font-weight: 360;
  src: url('/TimeTravelerPal-Normal-Regular.ttf') format('truetype')
}


#tiempo {
  font-family: 'TimeTraveler';
  font-size: 20rem;
  color: #212529;
  text-shadow: 0px 5px 0px #02ffd5;
  padding: 0;
  margin: 0;
  line-height: 100%;
}


.btn-numero,
.btn-tecla {
  height: 65px;
  width: 20%;
  padding: 4%;
  font-size: 1rem;
}

.btn-numero {
  background-color: #02ffd5;
  color: #212529;
  margin: 3px;
  font-size: 1rem;
  border-radius: 10px;
}

.btn-numero:hover {
  background-color: #0f5e50;
  box-shadow: 0 3px 0px #02ffd5;
  color: #02ffd5;
}

.btn-tecla {
  background-color: #212529;
  color: #02ffd5;
  margin: 3px;
  margin-left: 0px;
  font-size: 1rem;
  border-radius: 10px;
}

.btn-tecla:hover {
  background-color: #171a1d;
  color: #02ffd5;
  box-shadow: 0 3px 0px #02ffd5;
}

#calculadora .card {
  background-color: rgba(0, 0, 0, 0.664);
  border-radius: 8px;
}

#tarea_nueva {
  padding: 15px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.664);
  color: aliceblue;
}

::placeholder { color: aliceblue; }

.seguridadBaja2 {
  background-color: #000000;
}

.seguridadBaja {
  background-color: #ff1e00;
}

.seguridadMedia {
  background-color: #ff9933;
}

.seguridadAlta {
  background-color: #02ffd5;
}

.input_seguridad {
  font-size: 2rem;
}